* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e0e1dd;
}

a:hover {
  color: rgb(100, 90, 240);
}

/* ----------------------------------- */
/* HEADER CONFIG START */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: azure;
  padding: 0.5em;
}

#logo-code {
  height: 3rem;
  padding-right: 0.8rem;
}


li {
  list-style: none;
}

.logo {
  font-size: 1.8rem;
  font-family: "Ubuntu", sans-serif;
}

#du {
  font-weight: 600;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(100, 90, 240);
  letter-spacing: 0.2rem;
}

.nav {
  font-size: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 1rem;
}

#hamburger {
  background-color: azure;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}

#hamburger:hover {
  background-color: #ffa600c4;
}

.area-menu {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  position: relative;
}

.links-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2.5rem;
  list-style: none;
  position: absolute;
  top: 4.5rem;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem 2rem 1rem 2rem;
}

.links-menu-800 {
  display: none;
}

.nav .links-menu {
  display: none;
}

/* HEADER CONFIG END */
/* -------------------------------------- */

main {
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  color: rgb(223, 224, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.first {
  display: flex;
  background-image: linear-gradient(to bottom, #2c3e50, #1b263b);
  /* background-image: url("g261.svg");
  opacity: 0.05; */
  width: 100%;
  height: 100vh;
  padding: 0.8em;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.palavras {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
}

.imagem-fundo {
  z-index: 0;
  position: absolute;
  right: 2rem;
  opacity: 0.2;
}

.imagem-fundo img {
  height: 80vh;
}

.sub-texto-first {
  position: absolute;
  bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

#arrow-down {
  font-size: 3rem;
  padding-top: 1rem;
  letter-spacing: -1rem;
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}

#eduardo {
  font-size: 4rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
}

#stein {
  font-size: 5rem;
  padding-left: 3rem;
  padding-bottom: 0.2em;
}

#developer {
  padding-left: 3.5em;
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 2rem;
}

#description {
  font-size: 1.2rem;
  padding-right: 5rem;
}


.second{
  font-size: 2rem;
  background-color: #415a77;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.second h2 {
  letter-spacing: 0.5rem;
}

.projects{
  margin-top: 1em;
  width: auto;
  /* border: solid; */
}

.projects img {
  border: solid gray;
}

.project-description {
  font-size: 2rem;
}

.project-image {
  max-width: 60vw;
  height: auto;
}

/* THIRD SECTION start */

.third {
  padding: 1em;
  background-color: #e0e1dd;
  color: #1b263b;
  width: 100%;
  text-align: center;
}

.third li {
  padding: 0.5em;
  font-style: italic;
}

.third a {
  color: #1b263b;
  padding: 0.5rem;
}

.third a:hover {
  background-color: #1b263b;
  color: #e0e1dd;
}

.botton-links {
  padding-left: 0.5rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbols-svg {
  height: 2rem;
  padding-right: 1rem;
}

/* THIRD SECTION end */
footer {
  background-color: black;
  color: azure;
  width: 100%;
  text-align: center;
  padding: 0.6em;
}

@media (min-width: 800px) {

  html {
    font-size: 1.5rem;
  }


  #hamburger {
    display: none;
  }

  .links-menu-800 {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
    padding-right: 1.5rem;  
  }

  .first {
    padding: 1.5em;
    font-size: 3.5rem;
    height: 90vh;
  }

  #developer {
    font-size: 2rem;
  }
  
  .second {
    height: 100vh;
  }

  .sec-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
  }
  
}